name: Doxygen site exporter
on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  doxygen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      # Not used for generating docs, but required due to how the conan setup is configured
      # TODO: figure out if there's an easier way to check if we should include conan
      - name: Install Conan
        uses: conan-io/setup-conan@v1
      - name: Install doxygen
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen graphviz
          # TODO: Not sure how many of these are necessary
          sudo apt-get install -y xvfb libvorbis-dev libtheora-dev libwebp-dev libphysfs-dev libopusfile-dev libdumb1-dev libflac-dev libpulse-dev libgtk-3-dev pandoc libenet-dev pulseaudio libasound2-dev libopenal-dev libgl1-mesa-dev libglu-dev libopenmpt-dev
      - name: Generate docs
        run: |
          mkdir build
          cd build
          cmake .. -CMAKE_BUILD_TYPE=Release
          make doxygen
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'build/html'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
